@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* Breakpoint for slim mobile devices */
@theme {
	--breakpoint-xs: 30rem;
}

/* Inter font */
@theme {
	--font-inter: "Inter", sans-serif;
}

/* CSS selector for dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Dark theme background */
:root.dark {
	background-color: #161618;
}
